<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sast.atSast.mapper.ContestMapper">

    <insert id="createContest" parameterType="com.sast.atSast.model.Contest">
        insert into atsast.contest (master_uid, contest_name, description, enable, is_team, is_join,
                                    judging, is_instructor, comment, contest_organizer, contest_host,
                                    contest_helper, curr_stu, banners, team_group, subject_category,
                                    work_category, join_grade, stages, min_member, max_member, min_instructor,
                                    max_instructor, contest_type, is_tech)
        values (#{masterUid}, #{contestName}, #{description}, #{enable},
                #{isTeam}, #{isJoin}, #{judging}, #{isInstructor}, #{comment},
                #{contestOrganizer}, #{contestHost}, #{contestHelper}, #{currStu}, #{banners},
                #{teamGroup}, #{subjectCategory}, #{workCategory}, #{joinGrade}, #{stages},
                #{minMember}, #{maxMember}, #{minInstructor}, #{maxInstructor}, #{contestType}, #{isTech});
    </insert>

    <update id="updatepushLink" parameterType="com.sast.atSast.model.Contest">
        update atsast.contest
        set pushlink = #{pushLink}
        where contest_id = #{contestId}
          and enable = 1
    </update>

    <select id="getTeamById" resultType="com.sast.atSast.model.TeamMember">
        select distinct team_name, team_id
        from atsast.team_member
        where contest_id = #{contestId}
          and enable = 1
    </select>

    <insert id="addFile" parameterType="com.sast.atSast.model.FileStd">
        insert into atsast.file_std (stage_id, file_description, file_limit, contest_id)
        values (#{stageId}, #{fileDescription}, #{fileLimit}, #{contestId})
    </insert>

    <select id="getFileMessageById" resultType="com.sast.atSast.model.FileStd">
        select file_description, file_limit
        from atsast.file_std
        where stage_id = #{stageId}
          and contest_id = #{contestId}
    </select>

    <select id="getContestByCurr" resultType="com.sast.atSast.model.Contest">
        select *
        from atsast.contest
        where curr_stu = #{curr}
          and enable = 1
    </select>

    <select id="getContest" resultType="com.sast.atSast.model.Contest">
        select *
        from atsast.contest
        where enable = 1
    </select>


    <select id="getpushLinkById" resultType="java.lang.String">
        select pushlink
        from atsast.contest
        where contest_id = #{contestId}
          and enable = 1
    </select>

    <select id="getfileUrlById" resultType="java.lang.String">
        select file_url
        from atsast.contest
        where contest_id = #{contestId}
          and enable = 1
    </select>

    <update id="updateCurr">
        update atsast.contest
        set curr_admin=#{curr}
        where contest_id = #{contestId}
          and enable = 1
    </update>

    <update id="updateComment">
        update atsast.contest
        set comment=#{comment}
        where contest_id = #{contestId}
          and enable = 1
    </update>

    <update id="updateJudge">
        update atsast.contest
        set judging=#{judging}
        where contest_id = #{contestId}
          and enable = 1
    </update>

    <select id="getContestById" resultType="com.sast.atSast.model.Contest">
        select *
        from atsast.contest
        where contest_id = #{contestId}
    </select>

    <select id="getInfoById" resultType="com.sast.atSast.model.Contest">
        select *
        from atsast.contest
        where contest_id = #{contestId}
    </select>

    <select id="findAll" resultType="com.sast.atSast.model.Contest">
        select *
        from atsast.contest
        where enable = 1
    </select>


</mapper>

