<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sast.atSast.mapper.ContestMapper">
    <insert id="insertContest" parameterType="com.sast.atSast.model.Contest">
        insert into contest
        (master_uid,
         contest_name,
         description,
         contest_organizer,
         contest_host,
         contest_helper,
         isteam,
         instructor,
         isjoin,
         reg,
         reg_end,
         submit,
         submit_end,
         judge,
         judge_end,
         `show`,
         `show_end`) value ( #{contest.masterUid},
            #{contest.name},
            #{contest.description},
            #{contest.contestOrganizer},
            #{contest.contestHost},
            #{contest.contestHelper},
            #{contest.isTeam},
            #{contest.instructor},
            #{contest.isJoin},
            #{contest.reg},
            #{contest.regEnd},
            #{contest.submit},
            #{contest.submitEnd},
            #{contest.judge},
            #{contest.judgeEnd},
            #{contest.show},
            #{contest.showEnd}
            )
    </insert>
    <insert id="insertPic">
        insert into picture(pic_id,pic_path) values
        <foreach collection="urls" separator="," item="url">
            (#{contestId},#{url})
        </foreach>
    </insert>
    <insert id="insertVideo">
        insert into video(video_id,video_path)values
        <foreach collection="urls" separator="," item="url">
            (#{contestId},#{url})
        </foreach>
    </insert>
    <insert id="insertJudgeAuthority">
        insert into judges_authority (team_id,judge_uid)
        values
        <foreach collection="teamIds" item="teamId" separator=",">
            (#{teamId},#{judgeUid})
        </foreach>

    </insert>
    <update id="updatePushLink">
        update contest
        set pushlink=#{url}
        where contest_id = #{contestId}
    </update>
    <select id="selectNum" resultType="com.sast.atSast.model.ContestVO">
        select count(member_uid) signUpNum, count(file_url) submittedNum
        from team_member t,
             process p

        where t.contest_id = #{contestId}
          and p.contest_id = #{contestId}

    </select>
    <select id="selectAllFiles" resultType="java.lang.String">
        select file_url
        from process
        where contest_id = #{contestId}
    </select>

</mapper>