<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sast.atSast.mapper.JudgeInfoMapper">

    <insert id="addSingleJudge" parameterType="com.sast.atSast.model.JudgeInfo">
        insert into atsast.judge_info(uid, judge_name, judge_id, faculty, email, contest_id)
        values (#{uid}, #{judgeName}, #{judgeId}, #{faculty}, #{email}, #{contestId})
    </insert>

    <select id="getJudgeInfo" resultType="com.sast.atSast.model.JudgeInfo">
        select *
        from atsast.judge_info
        where contest_id = #{contestId}
          and enable = 1
        order by uid
    </select>

    <select id="getUidByEmail" resultType="java.lang.Long">
        select uid
        from atsast.account
        where email = #{email}
    </select>

</mapper>

