<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sast.atSast.mapper.JudgesAuthorityMapper">

    <insert id="addAuthority" parameterType="com.sast.atSast.model.JudgesAuthority">
        insert into
            atsast.judges_authority( team_id, judge_uid, contest_id) values
                                    (#{teamId}, #{judgeUid}, #{contestId})
    </insert>

</mapper>

