<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sast.atSast.mapper.JudgeInfoMapper">

    <insert id="insertJudge" parameterType="com.sast.atSast.model.JudgeInfo">
            insert into atsast.judge_info (judge_name,judge_id,uid,faculty,email,contest_id,judge_stage)
            values (#{judgeInfo.judgeName},#{judgeInfo.judgeId},#{judgeInfo.uid},#{judgeInfo.faculty},#{judgeInfo.email},#{judgeInfo.contestId},#{judgeInfo.judgeStage})
    </insert>

    <update id="deleteJudge">
           update atsast.judge_info set enable=0 where uid=#{uid}
    </update>

    <select id="listJudges" resultType="com.sast.atSast.model.JudgeInfo">
        select * from atsast.judge_info where enable=1
    </select>

</mapper>

