<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sast.atSast.mapper.JudgesResultMapper">

    <insert id="addResult" parameterType="com.sast.atSast.model.JudgesResult">
        insert into judges_result (team_id, contest_id, judge_uid, scores, comment)
        values (#{teamId}, #{contestId}, #{judgeUid}, #{scores}, #{comment})
    </insert>

    <select id="getResult" resultType="com.sast.atSast.model.JudgesResult">
        select *
        from atsast.judges_result
        where team_id = #{teamId}
          and contest_id = #{contestId}
          and judge_uid = #{judgeUid}
    </select>
    <select id="getResults" resultType="com.sast.atSast.model.JudgesResult">
        select * from atsast.judges_result where contest_id=#{contestId} and enable=1
    </select>

</mapper>

