<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sast.atSast.mapper.StudentInfoMapper">

    <insert id="addStudentInfo" parameterType="com.sast.atSast.model.StudentInfo">
        insert into atsast.student_info (uid, real_name, stu_id, phone, faculty,
                                         person_id, major, qq, hometown, political_status, dormitory_number)
        values (#{uid}, #{realName}, #{stuId}, #{phone}, #{faculty},
                #{personId}, #{major}, #{qq}, #{hometown}, #{politicalStatus},
                #{dormitoryNumber})
    </insert>

    <select id="getStudentInfoById" resultType="com.sast.atSast.model.StudentInfo">
        select *
        from atsast.student_info
        where uid = #{Uid} and enable=1
    </select>

    <select id="getRealName" resultType="com.sast.atSast.model.StudentInfo">
        select real_name from atsast.student_info where uid=#{uid} and enable=1
    </select>

    <select id="listStudentInfos" resultType="com.sast.atSast.model.StudentInfo">
        select * from atsast.student_info where enable=1
    </select>

</mapper>

