<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sast.atSast.mapper.TeamMemberMapper">
    <select id="getTeams" resultType="com.sast.atSast.model.TeamMember">
        select *
        from atsast.team_member
        where contest_id = #{contestId}
          and enable = 1
    </select>

    <update id="updateTeam">
        update atsast.team_member
        set score=#{score},
            result=#{result}
        where team_id = #{teamId}
          and enable = 1
    </update>

    <insert id="insertTeam" parameterType="com.sast.atSast.model.TeamMember">
        insert into atsast.team_member (team_id, member_uid, leader_uid, instructor, instructor_id, contest_id,
                                        team_name, team_group, subject_category, work_type)
        values (#{teamMember.teamId}, #{teamMember.memberUid}, #{teamMember.leaderUid}, #{teamMember.instructor},
                #{teamMember.contestId}, #{teamMember.contestId}, #{teamMember.teamName}, #{teamMember.teamGroup},
                #{teamMember.subjectCategory}, #{teamMember.workType})
    </insert>


    <select id="getSummaryTeamById" resultType="com.sast.atSast.model.SummaryTeam">
        select 'member_uid', 'instructor', 'result', 'team_name'
        from atsast.team_member
        where contest_id = #{contestId}
          and enable = 1
    </select>

    <select id="getTeamsByLeader" resultType="com.sast.atSast.model.TeamMember">
        select *
        from atsast.team_member
        where leader_uid = member_uid
          and contest_id = #{contestId}
          and enable = 1
    </select>


    <select id="getLeaderInfo" resultType="com.sast.atSast.model.LeaderInfo">
        select a.uid, email, faculty
        from atsast.student_info as a
                 inner join (select leader_uid
                             from atsast.team_member
                             where leader_uid = member_uid
                               and contest_id = #{contestId}) as k on a.uid = k.leader_uid
    </select>

</mapper>
